
.DS_Store

.idea/

data/*
creds.json
!/data/anonymised_assignments/
!/data/template/
!/data/batches/
!/data/library_exceptions.txt
!/data/known_exceptions.txt
/data/anonymised_assignments/18~19/
/data/anonymised_assignments/19~20/
/data/anonymised_assignments/20~21/
/data/anonymised_assignments/21~22/
/data/batches/0/18~19_Submission_12/
/data/batches/0/18~19_Submission_17/
/data/batches/0/18~19_Submission_28/
/data/batches/0/18~19_Submission_94/
/data/batches/0/18~19_Submission_120/
/data/batches/0/18~19_Submission_127/
/data/batches/0/18~19_Submission_128/
/data/batches/0/19~20_Submission_132/
/data/batches/0/19~20_Submission_164/
/data/batches/0/19~20_Submission_214/
/data/batches/0/19~20_Submission_256/
/data/batches/0/19~20_Submission_260/
/data/batches/0/20~21_Submission_362/
/data/batches/0/20~21_Submission_380/
/data/batches/0/20~21_Submission_421/
/data/batches/0/21~22_Submission_488/
/data/batches/0/21~22_Submission_617/
/data/batches/0/21~22_Submission_622/
/data/batches/0/21~22_Submission_637/
/data/batches/0/21~22_Submission_647/
/data/batches/1/18~19_Submission_29/
/data/batches/1/18~19_Submission_36/
/data/batches/1/18~19_Submission_59/
/data/batches/1/18~19_Submission_111/
/data/batches/1/18~19_Submission_119/
/data/batches/1/19~20_Submission_144/
/data/batches/1/19~20_Submission_234/
/data/batches/1/20~21_Submission_274/
/data/batches/1/20~21_Submission_316/
/data/batches/1/20~21_Submission_361/
/data/batches/1/20~21_Submission_399/
/data/batches/1/20~21_Submission_427/
/data/batches/1/21~22_Submission_522/
/data/batches/1/21~22_Submission_554/
/data/batches/1/21~22_Submission_565/
/data/batches/1/21~22_Submission_588/
/data/batches/1/21~22_Submission_601/
/data/batches/1/21~22_Submission_612/
/data/batches/1/21~22_Submission_629/
/data/batches/1/21~22_Submission_650/
/data/batches/2/18~19_Submission_31/
/data/batches/2/18~19_Submission_62/
/data/batches/2/18~19_Submission_71/
/data/batches/2/18~19_Submission_115/
/data/batches/2/18~19_Submission_118/
/data/batches/2/19~20_Submission_139/
/data/batches/2/19~20_Submission_149/
/data/batches/2/19~20_Submission_227/
/data/batches/2/20~21_Submission_276/
/data/batches/2/20~21_Submission_312/
/data/batches/2/20~21_Submission_354/
/data/batches/2/20~21_Submission_360/
/data/batches/2/20~21_Submission_382/
/data/batches/2/21~22_Submission_532/
/data/batches/2/21~22_Submission_559/
/data/batches/2/21~22_Submission_567/
/data/batches/2/21~22_Submission_599/
/data/batches/2/21~22_Submission_627/
/data/batches/2/21~22_Submission_663/
/data/batches/2/21~22_Submission_675/
/data/batches/3/18~19_Submission_38/
/data/batches/3/18~19_Submission_49/
/data/batches/3/18~19_Submission_70/
/data/batches/3/18~19_Submission_97/
/data/batches/3/19~20_Submission_211/
/data/batches/3/19~20_Submission_246/
/data/batches/3/19~20_Submission_249/
/data/batches/3/20~21_Submission_294/
/data/batches/3/20~21_Submission_330/
/data/batches/3/20~21_Submission_338/
/data/batches/3/20~21_Submission_429/
/data/batches/3/20~21_Submission_440/
/data/batches/3/20~21_Submission_441/
/data/batches/3/20~21_Submission_448/
/data/batches/3/20~21_Submission_478/
/data/batches/3/21~22_Submission_551/
/data/batches/3/21~22_Submission_583/
/data/batches/3/21~22_Submission_604/
/data/batches/3/21~22_Submission_615/
/data/batches/3/21~22_Submission_618/
/data/batches/4/18~19_Submission_2/
/data/batches/4/18~19_Submission_18/
/data/batches/4/18~19_Submission_47/
/data/batches/4/18~19_Submission_50/
/data/batches/4/18~19_Submission_58/
/data/batches/4/18~19_Submission_125/
/data/batches/4/19~20_Submission_137/
/data/batches/4/19~20_Submission_262/
/data/batches/4/20~21_Submission_334/
/data/batches/4/20~21_Submission_353/
/data/batches/4/20~21_Submission_358/
/data/batches/4/20~21_Submission_400/
/data/batches/4/20~21_Submission_422/
/data/batches/4/20~21_Submission_466/
/data/batches/4/20~21_Submission_480/
/data/batches/4/21~22_Submission_525/
/data/batches/4/21~22_Submission_587/
/data/batches/4/21~22_Submission_591/
/data/batches/4/21~22_Submission_620/
/data/batches/4/21~22_Submission_655/
/data/batches/5/18~19_Submission_46/
/data/batches/5/18~19_Submission_80/
/data/batches/5/18~19_Submission_82/
/data/batches/5/18~19_Submission_98/
/data/batches/5/19~20_Submission_156/
/data/batches/5/19~20_Submission_221/
/data/batches/5/19~20_Submission_255/
/data/batches/5/20~21_Submission_365/
/data/batches/5/20~21_Submission_377/
/data/batches/5/20~21_Submission_387/
/data/batches/5/20~21_Submission_389/
/data/batches/5/20~21_Submission_450/
/data/batches/5/20~21_Submission_458/
/data/batches/5/21~22_Submission_516/
/data/batches/5/21~22_Submission_526/
/data/batches/5/21~22_Submission_553/
/data/batches/5/21~22_Submission_574/
/data/batches/5/21~22_Submission_608/
/data/batches/5/21~22_Submission_651/
/data/batches/5/21~22_Submission_659/
/data/batches/6/18~19_Submission_10/
/data/batches/6/18~19_Submission_45/
/data/batches/6/18~19_Submission_51/
/data/batches/6/18~19_Submission_77/
/data/batches/6/18~19_Submission_79/
/data/batches/6/18~19_Submission_105/
/data/batches/6/18~19_Submission_124/
/data/batches/6/19~20_Submission_160/
/data/batches/6/19~20_Submission_236/
/data/batches/6/19~20_Submission_252/
/data/batches/6/20~21_Submission_292/
/data/batches/6/20~21_Submission_311/
/data/batches/6/20~21_Submission_410/
/data/batches/6/20~21_Submission_451/
/data/batches/6/20~21_Submission_473/
/data/batches/6/21~22_Submission_490/
/data/batches/6/21~22_Submission_523/
/data/batches/6/21~22_Submission_549/
/data/batches/6/21~22_Submission_624/
/data/batches/6/21~22_Submission_654/
/data/batches/7/18~19_Submission_6/
/data/batches/7/18~19_Submission_13/
/data/batches/7/18~19_Submission_33/
/data/batches/7/18~19_Submission_43/
/data/batches/7/18~19_Submission_85/
/data/batches/7/18~19_Submission_121/
/data/batches/7/19~20_Submission_176/
/data/batches/7/19~20_Submission_267/
/data/batches/7/20~21_Submission_281/
/data/batches/7/20~21_Submission_284/
/data/batches/7/20~21_Submission_289/
/data/batches/7/20~21_Submission_305/
/data/batches/7/20~21_Submission_340/
/data/batches/7/20~21_Submission_345/
/data/batches/7/20~21_Submission_394/
/data/batches/7/20~21_Submission_416/
/data/batches/7/20~21_Submission_428/
/data/batches/7/21~22_Submission_529/
/data/batches/7/21~22_Submission_555/
/data/batches/7/21~22_Submission_619/
/data/batches/8/19~20_Submission_143/
/data/batches/8/19~20_Submission_188/
/data/batches/8/19~20_Submission_218/
/data/batches/8/19~20_Submission_219/
/data/batches/8/19~20_Submission_223/
/data/batches/8/19~20_Submission_251/
/data/batches/8/19~20_Submission_261/
/data/batches/8/19~20_Submission_680/
/data/batches/8/20~21_Submission_277/
/data/batches/8/20~21_Submission_290/
/data/batches/8/20~21_Submission_302/
/data/batches/8/20~21_Submission_303/
/data/batches/8/20~21_Submission_327/
/data/batches/8/20~21_Submission_391/
/data/batches/8/20~21_Submission_453/
/data/batches/8/20~21_Submission_481/
/data/batches/8/20~21_Submission_484/
/data/batches/8/21~22_Submission_542/
/data/batches/8/21~22_Submission_575/
/data/batches/8/21~22_Submission_672/
/data/batches/9/18~19_Submission_8/
/data/batches/9/18~19_Submission_40/
/data/batches/9/18~19_Submission_86/
/data/batches/9/18~19_Submission_99/
/data/batches/9/18~19_Submission_107/
/data/batches/9/18~19_Submission_109/
/data/batches/9/19~20_Submission_167/
/data/batches/9/19~20_Submission_168/
/data/batches/9/19~20_Submission_182/
/data/batches/9/19~20_Submission_265/
/data/batches/9/19~20_Submission_269/
/data/batches/9/20~21_Submission_283/
/data/batches/9/20~21_Submission_415/
/data/batches/9/20~21_Submission_474/
/data/batches/9/21~22_Submission_501/
/data/batches/9/21~22_Submission_520/
/data/batches/9/21~22_Submission_585/
/data/batches/9/21~22_Submission_639/
/data/batches/9/21~22_Submission_661/
/data/batches/9/21~22_Submission_681/
/data/batches/10/18~19_Submission_9/
/data/batches/10/18~19_Submission_55/
/data/batches/10/18~19_Submission_69/
/data/batches/10/18~19_Submission_117/
/data/batches/10/18~19_Submission_682/
/data/batches/10/19~20_Submission_171/
/data/batches/10/19~20_Submission_173/
/data/batches/10/19~20_Submission_185/
/data/batches/10/19~20_Submission_198/
/data/batches/10/19~20_Submission_207/
/data/batches/10/20~21_Submission_320/
/data/batches/10/20~21_Submission_323/
/data/batches/10/21~22_Submission_495/
/data/batches/10/21~22_Submission_496/
/data/batches/10/21~22_Submission_517/
/data/batches/10/21~22_Submission_537/
/data/batches/10/21~22_Submission_541/
/data/batches/10/21~22_Submission_552/
/data/batches/10/21~22_Submission_580/
/data/batches/10/21~22_Submission_664/
/data/batches/11/18~19_Submission_11/
/data/batches/11/18~19_Submission_63/
/data/batches/11/18~19_Submission_67/
/data/batches/11/18~19_Submission_92/
/data/batches/11/19~20_Submission_133/
/data/batches/11/19~20_Submission_135/
/data/batches/11/19~20_Submission_148/
/data/batches/11/19~20_Submission_201/
/data/batches/11/19~20_Submission_229/
/data/batches/11/19~20_Submission_241/
/data/batches/11/19~20_Submission_254/
/data/batches/11/20~21_Submission_273/
/data/batches/11/20~21_Submission_306/
/data/batches/11/20~21_Submission_355/
/data/batches/11/20~21_Submission_417/
/data/batches/11/20~21_Submission_683/
/data/batches/11/21~22_Submission_487/
/data/batches/11/21~22_Submission_544/
/data/batches/11/21~22_Submission_576/
/data/batches/11/21~22_Submission_582/
/data/batches/12/18~19_Submission_35/
/data/batches/12/18~19_Submission_81/
/data/batches/12/18~19_Submission_103/
/data/batches/12/19~20_Submission_216/
/data/batches/12/19~20_Submission_253/
/data/batches/12/20~21_Submission_364/
/data/batches/12/20~21_Submission_373/
/data/batches/12/20~21_Submission_388/
/data/batches/12/20~21_Submission_430/
/data/batches/12/20~21_Submission_456/
/data/batches/12/20~21_Submission_463/
/data/batches/12/20~21_Submission_464/
/data/batches/12/20~21_Submission_483/
/data/batches/12/20~21_Submission_684/
/data/batches/12/21~22_Submission_535/
/data/batches/12/21~22_Submission_536/
/data/batches/12/21~22_Submission_546/
/data/batches/12/21~22_Submission_568/
/data/batches/12/21~22_Submission_616/
/data/batches/12/21~22_Submission_652/
/data/batches/13/18~19_Submission_1/
/data/batches/13/18~19_Submission_96/
/data/batches/13/19~20_Submission_142/
/data/batches/13/19~20_Submission_161/
/data/batches/13/19~20_Submission_193/
/data/batches/13/19~20_Submission_199/
/data/batches/13/19~20_Submission_685/
/data/batches/13/20~21_Submission_313/
/data/batches/13/20~21_Submission_314/
/data/batches/13/20~21_Submission_432/
/data/batches/13/20~21_Submission_435/
/data/batches/13/20~21_Submission_445/
/data/batches/13/20~21_Submission_449/
/data/batches/13/21~22_Submission_505/
/data/batches/13/21~22_Submission_521/
/data/batches/13/21~22_Submission_528/
/data/batches/13/21~22_Submission_609/
/data/batches/13/21~22_Submission_634/
/data/batches/13/21~22_Submission_645/
/data/batches/13/21~22_Submission_665/
/data/batches/14/18~19_Submission_21/
/data/batches/14/18~19_Submission_74/
/data/batches/14/19~20_Submission_183/
/data/batches/14/19~20_Submission_212/
/data/batches/14/19~20_Submission_217/
/data/batches/14/19~20_Submission_271/
/data/batches/14/19~20_Submission_686/
/data/batches/14/20~21_Submission_286/
/data/batches/14/20~21_Submission_287/
/data/batches/14/20~21_Submission_315/
/data/batches/14/20~21_Submission_407/
/data/batches/14/20~21_Submission_434/
/data/batches/14/20~21_Submission_454/
/data/batches/14/20~21_Submission_462/
/data/batches/14/21~22_Submission_497/
/data/batches/14/21~22_Submission_510/
/data/batches/14/21~22_Submission_539/
/data/batches/14/21~22_Submission_550/
/data/batches/14/21~22_Submission_563/
/data/batches/14/21~22_Submission_623/
